doctype html
html
  head
    meta(charset='utf-8')
  body
    hi
      a(href='/topic') DELETE Server Side Javascript(OrientDB)
      ul
        each topic in topics
          li
            - rid = encodeURIComponent(topic['@rid'])
            a(href='/topic/'+ rid)= topic.title
            // topic.title = topic['title']
    article
    form(action='/topic/'+encodeURIComponent(topic['@rid'])+'/delete' method='post')
      p [#{topic.title}] Delete??
      p
        input(type='submit' value='삭제')
      p
        a(href='/topic/'+encodeURIComponent(topic['@rid'])) NO
