<div class="row">
  <div class="col-lg-2">
    <app-latest></app-latest>
  </div>
  <div class="col-lg-2">
    <app-lastblock></app-lastblock>
  </div>
  <div class="col-lg-2">
    <app-uncles></app-uncles>
  </div>
  <div class="col-lg-2">
    <app-avgblocktime></app-avgblocktime>
  </div>
  <div class="col-lg-2">
      <app-pending></app-pending>
    </div></div>
<div class="row">
  <div class="col-lg-2">
    <app-chartjs-blocktime></app-chartjs-blocktime>
    <app-chartjs-transaction></app-chartjs-transaction>
  </div>
  <div class="col-lg-2">
    <app-chartjs-gaslimit></app-chartjs-gaslimit>
    <app-chartjs-unclecount></app-chartjs-unclecount>
  </div>
  <div class="col-lg-2">
    <app-chartjs-gasspending></app-chartjs-gasspending>
    <app-chartjs-difficulty></app-chartjs-difficulty>
  </div>
  <div class="col-lg-5">
      <app-statelist></app-statelist>
  </div>
</div>
