@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {

  nb-card {
    background-image: nb-theme(radial-gradient);
    height: nb-theme(card-height-xxsmall);
  }

  nb-card-body {
    height: nb-theme(card-height-xxsmall);
    padding: 1.2rem;
    color: nb-theme(color-fg);
  }


  .title {
    font-family: nb-theme(font-secondary);
    font-size: 1.0rem;
    font-weight: nb-theme(font-weight-normal);
    color: nb-theme(color-fg-heading);
    margin-top: -0.5rem;
  }

  .subtitle {
    font-family: nb-theme(font-main);
    font-size: 0.7rem;
    line-height: 0.5rem;
    font-weight: nb-theme(font-weight-light);
  }

  .body {
    display: flex;
    flex-direction: column;
    margin-top: -2.8rem;

    .subbody {
      display: flex;
      justify-content: space-around;

      .number {
        font-size: 2rem;
        font-weight: nb-theme(font-weight-bolder);
        font-family: nb-theme(font-secondary);
        color: nb-theme(color-fg-heading);
        display: flex;
        flex-direction: column;
        justify-content: right;
        margin-top: 3.0rem;

        .unit {
          font-size: 0.8rem;
          font-weight: nb-theme(font-weight-light);
          text-align: right;
        }
      }
    }
  }
}
