<div class="row">
  <div class="col-lg-12">
    <app-hero-buttons></app-hero-buttons>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <app-shape-buttons></app-shape-buttons>
    <app-action-groups></app-action-groups>
    <app-labeled-actions-group></app-labeled-actions-group>

    <div class="row">
      <div class="col-lg-5">
        <app-dropdown-buttons></app-dropdown-buttons>
        <app-icon-buttons></app-icon-buttons>
      </div>
      <div class="col-lg-7">
        <app-button-groups></app-button-groups>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <app-size-buttons></app-size-buttons>
    <app-default-buttons></app-default-buttons>
    <app-block-level-buttons></app-block-level-buttons>
  </div>
</div>
