<div class="row">
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Block Time</nb-card-header>
      <nb-card-body>
        <app-chartjs-blocktime></app-chartjs-blocktime>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Block Propagation</nb-card-header>
      <nb-card-body>
        <app-chartjs-blockpropagation></app-chartjs-blockpropagation>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Gas Limit</nb-card-header>
      <nb-card-body>
        <app-chartjs-gaslimit></app-chartjs-gaslimit>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Uncle Count</nb-card-header>
      <nb-card-body>
        <app-chartjs-unclecount></app-chartjs-unclecount>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Transactions</nb-card-header>
      <nb-card-body>
        <app-chartjs-transactions></app-chartjs-transactions>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Gas Spending</nb-card-header>
      <nb-card-body>
        <app-chartjs-gasspending></app-chartjs-gasspending>
      </nb-card-body>
    </nb-card>
  </div>
</div>
