<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <style>
    .red {
        color: red;
    }
    .bold {
        font-weight: bold;
    }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script><!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>--><!-- 상용버전, 속도와 용량이 최적화됨. -->
  </head>
  <body>
      <div id="app">
          <div>
              {{ people[0].name}} {{ people[0].age}}
          </div>
          <div>
              {{ people[1].name}} {{ people[1].age}}
          </div>
          <div>
              {{ people[2].name}} {{ people[2].age}}
          </div>
          <div>
              {{ people[3].name}} {{ people[3].age}}
          </div>
          <hr/>
          <div v-for="person in people">
              {{ person.name}} {{ person.age}}
          </div>

          <hr/>
          <div v-for=" (person, index) in people" :key="person.name + '-' + person.age">
              {{ person.name}} {{ person.age}} {{index}}
          </div>

          <hr/>
          <div v-for=" (person, index) in people2" :key="person.id">
              {{ person.name}} {{ person.age}} {{index}}
          </div>
          <!-- 리스트 랜더링 https://vuejs.org/v2/guide/list.html -->

      </div>
      <script>
      new Vue({
          el:'#app',
          data:{
              people : [
                  { name : 'a' , age : 20},
                  { name : 'b' , age : 21},
                  { name : 'c' , age : 22},
                  { name : 'd' , age : 23},
                  { name : 'e' , age : 24}
              ],
              people2 : [
                  { id : 1, name : 'a' , age : 20},
                  { id : 2,  name : 'b' , age : 21},
                  { id : 3,  name : 'c' , age : 22},
                  { id : 4,  name : 'd' , age : 23},
                  { id : 5,  name : 'e' , age : 24}
              ]

          },
          methods : {

          }
      })
      </script>
  </body>
</html>
